#grid-container {
    position:absolute;
    width:100%;
    height:100%;
    display: grid;
    padding: 1px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 12% 88%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#left-sidebar-header {
    display: grid;
    grid-template-columns: 60% 40%;
}

#left-sidebar-header-text {
    
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#todo-list-items-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#confirm-deletion{
    position: fixed;
    left: 37.5%;
    top: 25%;
    width: 25%;
    height: 20%;
}

#confirm-delete-exit{
    position: absolute;
    left: 85%;
    top: 10%;
    width: 15%;
    height: 20%;
}
#confirm-delete-cancel{
    position: absolute;
    left: 70%;
    top: 70%;
    width: 25%;
    height: 25%;
}
#confirm-delete-confirm{
    position: absolute;
    left: 5%;
    top: 70%;   
    width: 25%;
    height: 25%;
}

#modal-overlay{  
    display: none;
    position:fixed;
    z-index: 2;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.list-item-card {
    height: 5%;
    display: flex;
    flex-direction: row;
}

.task-col {
    position: relative;
    width:25%;
}

.due-date-col {
    width:25%;
}

.status-col {
    width:25%
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}

.input-text{
    position: absolute;
    display: none;
    width:95%;
}

.list-item{
    position:absolute;
}